/* Images */

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	background-image: linear-gradient(grey,black,grey,black,grey,black,grey,black);
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
}

img {
	max-width: 100%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 25%;
	padding: 0.25em;
}

h2 {
	color: white;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	color: white ;
	font-size: 60px;

}

